
@{
    ViewBag.Title = "FAQ";
    Layout = "~/Views/Shared/HeadFoot.cshtml";
}

<!--Breadcrumb Tow End-->
<!--FAQ Area Start-->
<div class="faq-area mb-100">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="faq-content">
                    <div class="faq-desc">
                        <h3>Bạn đang phân vân thắc mắc về Flycam??</h3>
                        <p>Bạn đang bắt đầu tìm hiểu về flycam? Bạn đã có flycam nhưng chưa tự tin để cất cánh? Dù là câu hỏi nào thì giải pháp hợp lý nhất dành cho bạn là phải nắm rõ các quy tắc an toàn khi bay. Chúng tôi đã tổng hợp những câu hỏi thường gặp cho người mới bắt đầu, để cho các bạn trải nghiệm tốt nhất với thiết bị mới mẻ và độc đáo này.</p>
                    </div>
                </div>
                <!--FAQ Accordin Start-->
                <div class="faq-accordion">
                    <div id="accordion">
                        <div class="card actives">
                            <div class="card-header" id="headingOne">
                                <h5 class="mb-0">
                                    <a class="" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        Tôi có thể tháo camera và gắn bằng cái của tôi?
                                    </a>
                                </h5>
                            </div>
                            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                                <div class="card-body">
                                    Không. Các camera đi kèm với cả hai mô hình được gắn vĩnh viễn. Cố gắng để loại bỏ, thay thế hoặc sửa các camera có thể làm hỏng sản phẩm và sẽ làm mất hiệu lực bảo hành sản phẩm.</div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingTwo">
                                <h5 class="mb-0">
                                    <a class="collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                        Tôi có thể sạc điều khiển từ xa và pin Intelligent Flight cùng một lúc?
                                    </a>
                                </h5>
                            </div>
                            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                                <div class="card-body">
                                    Sạc điều khiển từ xa và sạc pin Intelligent Flight được kết hợp vào 1 sản phẩm để thuận tiện cho bạn, với lời khuyên vào một thời điểm bạn chỉ nên sạc 1 trong 2 thứ. Chúng tôi khuyên bạn đừng bao giờ sạc cả 2 cùng một lúc.</div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingThree">
                                <h5 class="mb-0">
                                    <a class="collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                        Nút ở phía sau điều khiển từ xa để làm gì?
                                    </a>
                                </h5>
                            </div>
                            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                                <div class="card-body">
                                    Hai nút trên mặt sau của bộ điều khiển từ xa có thể được tùy biến và gán cho chức năng như bạn chọn thông qua ứng dụng DJI Pilot. Tham khảo hướng dẫn để biết thêm thông tin chi tiết.
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingFour">
                                <h5 class="mb-0">
                                    <a class="collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                        Thiết bị di động nào tương thích với các ứng dụng?
                                    </a>
                                </h5>
                            </div>
                            <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
                                <div class="card-body">
                                    Các ứng dụng DJI Pilot chỉ tương thích với các thiết bị chạy iOS 8.0, các phiên bản mới hơn và Android v4.1.2 hoặc phiên bản mới hơn.                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingFive">
                                <h5 class="mb-0">
                                    <a class="collapsed" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                        Các thiết bị nào được khuyên dùng?
                                    </a>
                                </h5>
                            </div>
                            <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
                                <div class="card-body">
                                    <p>iOS: iPhone 5s, iPhone 6, iPhone 6 Plus, iPad Air, iPad Air Wi-Fi+ Cellular, iPad mini 2, iPad mini 2 Wi-Fi + Cellular, iPad Air 2, iPad Air 2 Wi-Fi + Cellular, iPad mini 3, and iPad mini 3 Wi-Fi + Cellular. Ứng dụng này tối ưu hóa cho iPhone 5s, iPhone 6, và iPhone 6 Plus</p>
                                    <p>Android: Samsung S5, Note 3, Sony Z3 EXPERIA, Google Nexus 7 II, Google Nexus 9, Mi 3, Nubia Z7 mini.</p>                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingSix">
                                <h5 class="mb-0">
                                    <a class="collapsed" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                                        Sử dụng Director chỉnh sửa video tự động như thế nào?
                                    </a>
                                </h5>
                            </div>
                            <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordion">
                                <div class="card-body">
                                    Director là một trình biên tập video tự động tích hợp vào ứng dụng DJI Pilot. Sau khi ghi một số video clip, bạn chỉ cần gõ "Director" trên màn hình ứng dụng.
                                    Sau đó bạn có thể chọn một mẫu và một số clip, nó sẽ được tự động kết hợp để tạo ra một bộ phim ngắn có thể được chia sẻ ngay lập tức.                                
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingSeven">
                                <h5 class="mb-0">
                                    <a class="collapsed" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                                        Làm thế nào để tùy chỉnh gậy trên điều khiển từ xa (thay đổi chế độ điều khiển) cho Flycam?
                                    </a>
                                </h5>
                            </div>
                            <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordion">
                                <div class="card-body">
                                    Theo mặc định, điều khiển từ xa được thiết lập chế độ 2. Điều này có nghĩa là thanh điều khiển bên phải điều khiển sự chuyển động của máy bay và thanh điều khiển bên trái điều khiển ga và định hướng của máy bay. Những điều khiển này có thể được thay đổi sang chế độ 1 hoặc thiết lập cấu hình tùy chỉnh trong ứng dụng DJI Pilot. Tính năng này khuyên dùng cho người dùng advanced.
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingEight">
                                <h5 class="mb-0">
                                    <a class="collapsed" data-toggle="collapse" data-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                                        Có thể sử dụng pin Intelligent flight Phantom 2 cho Phantom 3 không?
                                    </a>
                                </h5>
                            </div>
                            <div id="collapseEight" class="collapse" aria-labelledby="headingEight" data-parent="#accordion">
                                <div class="card-body">
                                    Không. Phantom 3 sử dụng pin Intelligent Flight thiết kế mới khỏe hơn. Phantom 3 có 4 khay pin với dung lượng 4480 mAh và điện áp 15,2 V. Phantom 3 không
                                    tắt được luôn, có vấn đề gì xảy ra không? Đó là điều bình thường. Sau khi bạn tắt nguồn pin Intelligent Flight, có thể nó vẫn còn lưu lại một vài giây như bất kỳ
                                    dữ liệu video nào được lưu vào thẻ Micro SD. Điều này giúp ngăn chặn dữ liệu của bạn không bị mất hoặc bị hỏng.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--FAQ Accordin Start-->
            </div>
        </div>
    </div>
</div>


