
@{
    ViewBag.Title = "Gallery";
    Layout = "~/Views/Shared/HeadFoot.cshtml";
}

<!--Protfolio Menu Start-->
<div class="protfolio-menu-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="protfolio-menu">
                    <ul class="protfolio-menu-active">
                        <li class="active" data-filter="*">Tất cả <span>(16)</span></li>
                        <li data-filter=".prairie">Thảo Nguyên<span>(4)</span></li>
                        <li data-filter=".animal">Động Vật<span>(2)</span></li>
                        <li data-filter=".city">Thành Phố <span>(2)</span></li>
                        <li data-filter=".sea">Biển <span>(3)</span></li>
                        <li data-filter=".countryside">Đồng Quê <span>(3)</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Protfolio Menu End-->

<!-- THẢO NGUYÊN -->

<!--Protfolio Item Start-->
<div class="protfolio-item mb-80">
    <div class="container-fluid">
        <div class="row protfolio-active">
            <!--Single Protfolio Start-->
            <div class="col-md-6 col-lg-4 col-xl-3 grid-item prairie">
                <div class="single-protfolio">
                    <div class="protfolio-img img-full">
                        <img src="~/ThuVien/6.jpg" alt="">
                        <div class="content">
                            <div class="portfolio-icon">
                                <a class="venobox" data-gall="myGallery" href="~/ThuVien/6.jpg">
                                    <i class="fa fa-search"></i>
                                </a>
                            </div>
                            <div class="title">Thảo Nguyên Palouse, Mỹ</div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Single Protfolio End-->
            <!--Single Protfolio Start-->
            <div class="col-md-6 col-lg-4 col-xl-3 grid-item prairie">
                <div class="single-protfolio">
                    <div class="protfolio-img img-full">
                        <img src="~/ThuVien/7.jpg" alt="">
                        <div class="content">
                            <div class="portfolio-icon">
                                <a class="venobox" data-gall="myGallery" href="~/ThuVien/7.jpg">
                                    <i class="fa fa-search"></i>
                                </a>
                            </div>
                            <div class="title">Thảo Nguyên Wyoming, Mỹ</div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Single Protfolio End-->
            <!--Single Protfolio Start-->
            <div class="col-md-6 col-lg-4 col-xl-3 grid-item prairie">
                <div class="single-protfolio">
                    <div class="protfolio-img img-full">
                        <img src="~/ThuVien/14.jpg" alt="">
                        <div class="content">
                            <div class="portfolio-icon">               
                                <a class="venobox" data-gall="myGallery" href="~/ThuVien/14.jpg">
                                    <i class="fa fa-search"></i>
                                </a>
                            </div>
                            <div class="title">Thảo nguyên núi Qilian, Trung Quốc</div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Single Protfolio End-->
            <!--Single Protfolio Start-->
            <div class="col-md-6 col-lg-4 col-xl-3 grid-item prairie">
                <div class="single-protfolio">
                    <div class="protfolio-img img-full">
                        <img src="~/ThuVien/15.jpg" alt="">
                        <div class="content">
                            <div class="portfolio-icon">
                                <a class="venobox" data-gall="myGallery" href="~/ThuVien/15.jpg">
                                    <i class="fa fa-search"></i>
                                </a>
                            </div>
                            <div class="title">Thảo nguyên Ordos</div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Single Protfolio End-->
            <!--Single Protfolio Start-->
            <div class="col-md-6 col-lg-4 col-xl-3 grid-item prairie">
                <div class="single-protfolio">
                    <div class="protfolio-img img-full">
                        <img src="~/ThuVien/16.jpg" alt="">
                        <div class="content">
                            <div class="portfolio-icon">
                                <a class="venobox" data-gall="myGallery" href="~/ThuVien/16.jpg">
                                    <i class="fa fa-search"></i>
                                </a>
                            </div>
                            <div class="title">Thảo Nguyên Kenya, Đông Phi châu Phi</div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Single Protfolio End-->
            
            <!--ĐỘNG VẬT-->

            <!--Single Protfolio Start-->
            <div class="col-md-6 col-lg-4 col-xl-3 grid-item animal">
                <div class="single-protfolio">
                    <div class="protfolio-img img-full">
                        <img src="~/ThuVien/2.jpg" alt="">
                        <div class="content">
                            <div class="portfolio-icon">
                                <a class="venobox" data-gall="myGallery" href="~/ThuVien/2.jpg">
                                    <i class="fa fa-search"></i>
                                </a>
                            </div>
                            <div class="title">Sư Tử Đực Nam Phi</div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Single Protfolio End-->
            <!--Single Protfolio Start-->
            <div class="col-md-6 col-lg-4 col-xl-3 grid-item animal">
                <div class="single-protfolio">
                    <div class="protfolio-img img-full">
                        <img src="~/ThuVien/9.jpg" alt="">
                        <div class="content">
                            <div class="portfolio-icon">
                                <a class="venobox" data-gall="myGallery" href="~/ThuVien/9.jpg">
                                    <i class="fa fa-search"></i>
                                </a>
                            </div>
                            <div class="title">Mạch Mã Thảo Nguyên Kenya</div>
                        </div>
                    </div>
                </div>
            </div>


            <!-- THÀNH PHỐ -->

            <!--Single Protfolio End-->
            <!--Single Protfolio Start-->
            <div class="col-md-6 col-lg-4 col-xl-3 grid-item city">
                <div class="single-protfolio">
                    <div class="protfolio-img img-full">
                        <img src="~/ThuVien/4.jpg" alt="">
                        <div class="content">
                            <div class="portfolio-icon">
                                <a class="venobox" data-gall="myGallery" href="~/ThuVien/4.jpg">
                                    <i class="fa fa-search"></i>
                                </a>
                            </div>
                            <div class="title">Thành Phố Hồ Chí Minh Về Đêm</div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Single Protfolio End-->
            <!--Single Protfolio Start-->
            <div class="col-md-6 col-lg-4 col-xl-3 grid-item general city">
                <div class="single-protfolio">
                    <div class="protfolio-img img-full">
                        <img src="~/ThuVien/5.jpg" alt="">
                        <div class="content">
                            <div class="portfolio-icon">
                                <a class="venobox" data-gall="myGallery" href="~/ThuVien/5.jpg">
                                    <i class="fa fa-search"></i>
                                </a>
                            </div>
                            <div class="title">Thành Phố Seattle bang Washington</div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Single Protfolio End-->

            <!-- BIỂN -->

            <!--Single Protfolio Start-->
            <div class="col-md-6 col-lg-4 col-xl-3 grid-item sea">
                <div class="single-protfolio">
                    <div class="protfolio-img img-full">
                        <img src="~/ThuVien/10.jpg" alt="">
                        <div class="content">
                            <div class="portfolio-icon">
                                <a class="venobox" data-gall="myGallery" href="~/ThuVien/10.jpg">
                                    <i class="fa fa-search"></i>
                                </a>
                            </div>
                            <div class="title"> Bãi biển trắng Boracay, Philippines</div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Single Protfolio End-->
            <!--Single Protfolio Start-->
            <div class="col-md-6 col-lg-4 col-xl-3 grid-item sea">
                <div class="single-protfolio">
                    <div class="protfolio-img img-full">
                        <img src="~/ThuVien/11.jpg" alt="">
                        <div class="content">
                            <div class="portfolio-icon">
                                <a class="venobox" data-gall="myGallery" href="~/ThuVien/11.jpg">
                                    <i class="fa fa-search"></i>
                                </a>
                            </div>
                            <div class="title">Đầm xanh, lüdeniz, Thổ Nhĩ Kỳ</div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Single Protfolio End-->
            <!--Single Protfolio Start-->
            <div class="col-md-6 col-lg-4 col-xl-3 grid-item sea">
                <div class="single-protfolio">
                    <div class="protfolio-img img-full">
                        <img src="~/ThuVien/13.jpg" alt="">
                        <div class="content">
                            <div class="portfolio-icon">
                                <a class="venobox" data-gall="myGallery" href="~/ThuVien/13.jpg">
                                    <i class="fa fa-search"></i>
                                </a>
                            </div>
                            <div class="title">Bãi biển Railay, Krabi, Thái Lan</div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Single Protfolio End-->

            <!-- ĐỒNG QUÊ -->

            <!--Single Protfolio Start-->
            <div class="col-md-6 col-lg-4 col-xl-3 grid-item countryside">
                <div class="single-protfolio">
                    <div class="protfolio-img img-full">
                        <img src="~/ThuVien/3.jpg" alt="">
                        <div class="content">
                            <div class="portfolio-icon">
                                <a class="venobox" data-gall="myGallery" href="~/ThuVien/3.jpg">
                                    <i class="fa fa-search"></i>
                                </a>
                            </div>
                            <div class="title">Làng Quê Trưa Hè</div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Single Protfolio End-->
            <!--Single Protfolio Start-->
            <div class="col-md-6 col-lg-4 col-xl-3 grid-item countryside">
                <div class="single-protfolio">
                    <div class="protfolio-img img-full">
                        <img src="~/ThuVien/1.jpg" alt="">
                        <div class="content">
                            <div class="portfolio-icon">
                                <a class="venobox" data-gall="myGallery" href="~/ThuVien/1.jpg">
                                    <i class="fa fa-search"></i>
                                </a>
                            </div>
                            <div class="title">Ảnh Làng Quê Thanh Bình</div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Single Protfolio End-->
            <!--Single Protfolio Start-->
            <div class="col-md-6 col-lg-4 col-xl-3 grid-item countryside">
                <div class="single-protfolio">
                    <div class="protfolio-img img-full">
                        <img src="~/ThuVien/8.jpg" alt="">
                        <div class="content">
                            <div class="portfolio-icon">
                                <a href="portfolio-details.html">
                                    <i class="fa fa-link"></i>
                                </a>
                                <a class="venobox" data-gall="myGallery" href="~/ThuVien/8.jpg">
                                    <i class="fa fa-search"></i>
                                </a>
                            </div>
                            <div class="title">Cánh Đồng Làng Quê</div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Single Protfolio End-->
            <!--Single Protfolio Start-->
            <div class="col-md-6 col-lg-4 col-xl-3 grid-item countryside">
                <div class="single-protfolio">
                    <div class="protfolio-img img-full">
                        <img src="~/ThuVien/12.jpg" alt="">
                        <div class="content">
                            <div class="portfolio-icon">
                                <a href="portfolio-details.html">
                                    <i class="fa fa-link"></i>
                                </a>
                                <a class="venobox" data-gall="myGallery" href="~/ThuVien/12.jpg">
                                    <i class="fa fa-search"></i>
                                </a>
                            </div>
                            <div class="title">Làng Quê Xế Chiều</div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Single Protfolio End-->
        </div>
        @*<div class="row">
            <div class="col-12">
                <div class="load-more-btn-area text-center pt-30">
                    <a href="#" class="load-more-btn">Load More (7)</a>
                </div>
            </div>
        </div>*@
    </div>
</div>


