
@{
    ViewBag.Title = "Services";
    Layout = "~/Views/Shared/HeadFoot.cshtml";
}


		<!--What We Do Area Start-->
		<div class="what-we-do-area service-bg-2 pt-120 pb-20">
		    <div class="container">
		        <div class="row">
		            <div class="col-md-12">
		                <div class="what-we-do-title mb-70">
		                    <h2>Dịch Vụ Của Chúng Tôi</h2>
		                </div>
		            </div>
		        </div>
		        <div class="row">
		            <div class="col-lg-8 col-md-12 ml-lg-auto">
		                <div class="row">
		                    <div class="col-md-6">
		                        <!--Single Service 3 Start-->
		                        <div class="single-service-3 mb-90">
		                            <div class="service-icon3">
		                                <i class="fa fa-desktop"></i>
		                            </div>
		                            <div class="service-content">
		                                <h3>Mua Hàng Trả Góp</h3>
		                                <p>Điều kiện và giấy tờ cần có để mua hàng trả góp.</p>
		                            </div>
		                        </div>
		                        <!--Single Service 3 End-->
		                    </div>
		                    <div class="col-md-6">
		                        <!--Single Service 3 Start-->
		                        <div class="single-service-3 mb-90">
		                            <div class="service-icon3">
		                                <i class="fa fa-sun-o"></i>
		                            </div>
		                            <div class="service-content">
		                                <h3>Dịch Vụ Giao Hàng</h3>
		                                <p>Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum claritatem.</p>
		                            </div>
		                        </div>
		                        <!--Single Service 3 End-->
		                    </div>
		                    <div class="col-md-6">
		                        <!--Single Service 3 Start-->
		                        <div class="single-service-3 mb-90">
		                            <div class="service-icon3">
		                                <i class="fa fa-sun-o"></i>
		                            </div>
		                            <div class="service-content">
		                                <h3>Chính Sách Thanh Toán</h3>
		                                <p>Thanh toán cho nhân viên giao hàng trực tiếp của cửa hàng tại bất kỳ đâu bạn yêu cầu (trong phạm vi 20KM tính từ cửa hàng).</p>
		                            </div>
		                        </div>
		                        <!--Single Service 3 End-->
		                    </div>
		                    <div class="col-md-6">
		                        <!--Single Service 3 Start-->
		                        <div class="single-service-3 mb-90">
		                            <div class="service-icon3">
		                                <i class="fa fa-sun-o"></i>
		                            </div>
		                            <div class="service-content">
		                                <h3>Chính sách bảo mật</h3>
		                                <p>cam kết sẽ bảo mật những thông tin mang tính riêng tư của bạn. Bạn vui lòng đọc bản “Chính sách bảo mật” dưới đây...</p>
		                            </div>
		                        </div>
		                        <!--Single Service 3 End-->
		                    </div>
		                    <div class="col-md-6">
		                        <!--Single Service 3 Start-->
		                        <div class="single-service-3 mb-90">
		                            <div class="service-icon3">
		                                <i class="fa fa-sun-o"></i>
		                            </div>
		                            <div class="service-content">
		                                <h3>Chính Sách Đổi Trả</h3>
		                                <p>Trường hợp sản phẩm đổi hết hàng, khách hàng có thể đổi sang sản phẩm khác...</p>
		                            </div>
		                        </div>
		                        <!--Single Service 3 End-->
		                    </div>
		                    <div class="col-md-6">
		                        <!--Single Service 3 Start-->
		                        <div class="single-service-3 mb-90">
		                            <div class="service-icon3">
		                                <i class="fa fa-sun-o"></i>
		                            </div>
		                            <div class="service-content">
		                                <h3>Quà Tặng &amp; Khuyến MãiS</h3>
		                                <p>Nhân dịp đón chào ngày khai trương, CLC Shop hân hoan gửi đến Quý Khách hàng...</p>
		                            </div>
		                        </div>
		                        <!--Single Service 3 End-->
		                    </div>
		                </div>
		            </div>
		        </div>
		    </div>
		</div>
		<!--What We Do Area End-->
		<!--Pricing Table Area Start-->
		<div class="pricing-table-area pt-120 pb-85">
		    <div class="container">
		        <div class="row">
		            <!--Single Pricing Table Start-->
		            <div class="col-md-6 col-lg-3">
		                <div class="single-pricing mb-35">
                       
		                    <div class="pricing-head">
		                        <h4>DJV Marvic</h4>
		                    </div>
		                    <div class="pricing-body">
		                        <h5 class="table-price">3,000,000 VND<span class="desc-price">/Ngày</span></h5>
		                        <ul>
		                            <li>2 GB Webspace</li>
		                            <li>1 Domain</li>
		                            <li>PHP 5 Enbled</li>
		                            <li>24H – Support</li>
		                        </ul>
		                        <a class="pricing-button" href="#">purchase now </a>
		                    </div>
		                </div>
		            </div>
		            <!--Single Pricing Table End-->
		            <!--Single Pricing Table Start-->
		            <div class="col-md-6 col-lg-3">
		                <div class="single-pricing active-table mb-35">
		                    <div class="pricing-head">
		                        <h4>business</h4>
		                    </div>
		                    <div class="pricing-body">
		                        <h5 class="table-price">£30<span class="desc-price">/Month</span></h5>
		                        <ul>
		                            <li>30 GB Webspace</li>
		                            <li>5 Domain</li>
		                            <li>PHP 5 Enbled</li>
		                            <li>24H – Support</li>
		                        </ul>
		                        <a class="pricing-button" href="#">purchase now </a>
		                    </div>
		                </div>
		            </div>
		            <!--Single Pricing Table End-->
		            <!--Single Pricing Table Start-->
		            <div class="col-md-6 col-lg-3">
		                <div class="single-pricing mb-35">
		                    <div class="pricing-head">
		                        <h4>premium</h4>
		                    </div>
		                    <div class="pricing-body">
		                        <h5 class="table-price">£35<span class="desc-price">/Month</span></h5>
		                        <ul>
		                            <li>10 GB Webspace</li>
		                            <li>10 Domain</li>
		                            <li>PHP 10 Enbled</li>
		                            <li>24H – Support</li>
		                        </ul>
		                        <a class="pricing-button" href="#">purchase now </a>
		                    </div>
		                </div>
		            </div>
		            <!--Single Pricing Table End-->
		            <!--Single Pricing Table Start-->
		            <div class="col-md-6 col-lg-3">
		                <div class="single-pricing  active-table mb-35">
		                    <div class="pricing-head">
		                        <h4>Ultimate</h4>
		                    </div>
		                    <div class="pricing-body">
		                        <h5 class="table-price">£50<span class="desc-price">/Month</span></h5>
		                        <ul>
		                            <li>50 GB Webspace</li>
		                            <li>10 Domain</li>
		                            <li>PHP 10 Enbled</li>
		                            <li>24H – Support</li>
		                        </ul>
		                        <a class="pricing-button" href="#">purchase now </a>
		                    </div>
		                </div>
		            </div>
		            <!--Single Pricing Table End-->
		        </div>
		    </div>
		</div>
		<!--Pricing Table Area End-->
		<!--Our Service Area 2 Start-->
		<div class="our-service-area-2 mb-110">
		    <div class="section-title-img">
		        <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="section-title2">
                                <h3>OUR SERVICES</h3>
                                <p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore <br>
                                    eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit..</p>
                            </div>
                        </div>
                    </div>
                </div>
		    </div>
		    <div class="container-fluid p-0">
                    <div class="row no-gutters">
                       <!--Single Service 4 Start-->
                        <div class="col-lg-4 col-md-6">
                            <div class="single-service-4">
                                <div class="service-img img-full">
                                    <img src="img/service/service4.jpg" alt="">
                                </div>
                                <div class="service-box">
                                    <div class="service-icon4">
                                        <i class="fa fa-sun-o"></i>
                                    </div>
                                    <div class="service-content-4">
                                        <h2>Branding</h2>
                                        <p>Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum claritatem.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--Single Service 4 End-->
                       <!--Single Service 4 Start-->
                        <div class="col-lg-4 col-md-6">
                            <div class="single-service-4">
                                <div class="service-img img-full">
                                    <img src="img/service/service5.jpg" alt="">
                                </div>
                                <div class="service-box">
                                    <div class="service-icon4">
                                        <i class="fa fa-picture-o"></i>
                                    </div>
                                    <div class="service-content-4">
                                        <h2>Web design</h2>
                                        <p>Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum claritatem.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--Single Service 4 End-->
                       <!--Single Service 4 Start-->
                        <div class="col-lg-4 col-md-6">
                            <div class="single-service-4">
                                <div class="service-img img-full">
                                    <img src="img/service/service6.jpg" alt="">
                                </div>
                                <div class="service-box">
                                    <div class="service-icon4">
                                        <i class="fa fa-pie-chart"></i>
                                    </div>
                                    <div class="service-content-4">
                                        <h2>photography</h2>
                                        <p>Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum claritatem.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--Single Service 4 End-->
                       <!--Single Service 4 Start-->
                        <div class="col-lg-4 col-md-6">
                            <div class="single-service-4">
                                <div class="service-img img-full">
                                    <img src="img/service/service7.jpg" alt="">
                                </div>
                                <div class="service-box">
                                    <div class="service-icon4">
                                        <i class="fa fa-sun-o"></i>
                                    </div>
                                    <div class="service-content-4">
                                        <h2>Web Development</h2>
                                        <p>Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum claritatem.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--Single Service 4 End-->
                       <!--Single Service 4 Start-->
                        <div class="col-lg-4 col-md-6">
                            <div class="single-service-4">
                                <div class="service-img img-full">
                                    <img src="img/service/service8.jpg" alt="">
                                </div>
                                <div class="service-box">
                                    <div class="service-icon4">
                                        <i class="fa fa-sun-o"></i>
                                    </div>
                                    <div class="service-content-4">
                                        <h2>Coding</h2>
                                        <p>Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum claritatem.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--Single Service 4 End-->
                       <!--Single Service 4 Start-->
                        <div class="col-lg-4 col-md-6">
                            <div class="single-service-4">
                                <div class="service-img img-full">
                                    <img src="img/service/service9.jpg" alt="">
                                </div>
                                <div class="service-box">
                                    <div class="service-icon4">
                                        <i class="fa fa-pie-chart"></i>
                                    </div>
                                    <div class="service-content-4">
                                        <h2>photography</h2>
                                        <p>Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum claritatem.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--Single Service 4 End-->
                       <!--Single Service 4 Start-->
                        <div class="col-lg-4 col-md-6">
                            <div class="single-service-4">
                                <div class="service-img img-full">
                                    <img src="img/service/service6.jpg" alt="">
                                </div>
                                <div class="service-box">
                                    <div class="service-icon4">
                                        <i class="fa fa-sun-o"></i>
                                    </div>
                                    <div class="service-content-4">
                                        <h2>Coding</h2>
                                        <p>Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum claritatem.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--Single Service 4 End-->
                       <!--Single Service 4 Start-->
                        <div class="col-lg-4 col-md-6">
                            <div class="single-service-4">
                                <div class="service-img img-full">
                                    <img src="img/service/service4.jpg" alt="">
                                </div>
                                <div class="service-box">
                                    <div class="service-icon4">
                                        <i class="fa fa-picture-o"></i>
                                    </div>
                                    <div class="service-content-4">
                                        <h2>Web design</h2>
                                        <p>Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum claritatem.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--Single Service 4 End-->
                       <!--Single Service 4 Start-->
                        <div class="col-lg-4 col-md-6">
                            <div class="single-service-4">
                                <div class="service-img img-full">
                                    <img src="img/service/service8.jpg" alt="">
                                </div>
                                <div class="service-box">
                                    <div class="service-icon4">
                                        <i class="fa fa-pie-chart"></i>
                                    </div>
                                    <div class="service-content-4">
                                        <h2>photography</h2>
                                        <p>Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum claritatem.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--Single Service 4 End-->
                    </div>
                </div>
		</div>
		<!--Our Service Area 2 End-->


