
@{
    ViewBag.Title = "Notification";
    Layout = "~/Views/Shared/HeadFoot.cshtml";
}

<div class="error-404-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="error-wrapper text-center">
                    <div class="error-text">
                        <img src="~/HinhAnh/check.png" />
                        <h2>ĐẶT HÀNG THÀNH CÔNG</h2>
                        <p>Cảm ơn bạn đã tin tưởng và mua sắn ở cửa hàng của chúng tôi, chúng tôi sẽ sớm giao hàng cho bạn.</p>
                    </div>
                    <div class="error-button">
                        <a href="@Url.Action("Index","Home")">Trang Chủ</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<hr />



