@{
	ViewBag.Title = "Login";
	Layout = "~/Views/Shared/HeadFoot.cshtml";
}
<div style="padding-left:400px;">
	<div class="col-md-6 col-sm-6">
		<div class="customer-login-register">
			<div class="form-login-title">
				<h2>Đăng Nhập</h2>
				<h4>@ViewBag.ThongBao</h4>
			</div>
			@using (Html.BeginForm())
			{
				<div class="login-form">
					<form action="#">

						<div class="form-fild">
							<p><label>Tài khoản: <span class="required">*</span></label></p>
							<input name="txtTaiKhoan" value="" type="text">
						</div>
						<div class="form-fild">
							<p><label>Mật khẩu: <span class="required">*</span></label></p>
							<input name="txtMatKhau" value="" type="password">
						</div>
						<div class="login-submit">
							<button type="submit" class="form-button">Đăng nhập</button>
							<label>
								<a href="#">Bạn chưa có tài khoản, bấm vào đây</a>
							</label>
						</div>
						<div class="lost-password">
							<a href="#">Quên mật khẩu?</a>
						</div>

					</form>
				</div>
			}
		</div>
	</div>
</div>

